{{#partial "content"}}
    
  <div class="col-3">

  </div>
        

        <div class="col-9">
          <div>
            <h4 class="text-center">You have succesfully created a department</h4>
            <h6 class="text-center">Click  <a href="">here</a> to view the departments</h6>
          </div>
        </div>
        
{{/partial}}

{{> layout.hbs}}