{{#partial "content"}}         
  <div class="col-3">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-dark list-group-item-action" aria-current="true">
        
        All Departments
      </a>
      {{#each myDepartments}}
      <a href="#" class="list-group-item list-group-item-dark list-group-item-action">{{name}}</a>
      {{/each}}   
    </div>
  </div>      
    <div class="col-9">
      <h4>Staff Form</h4>
      <div class="card bg-dark text-white mx-auto p-3">
        <form method="POST" action="/staff/new">
          <div class="mb-3">
            <label for="name"  class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="role"  class="form-label">Role</label>
            <input type="text" id="role" name="role" class="form-control" placeholder="Role">
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <select name="department" class="form-control"  id="department">
              <option value="">Select a department</option>
              {{#each myDepartments}}
                  <option value="{{id}}">{{name}}</option>
                  {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label for="responsibility"  class="form-label">Responsibility</label>
            <input type="text" id="responsibility" name="responsibility" class="form-control" placeholder="Responsibilities.."/>
          </div>
          <div class="mb-3 text-center">
            <input type="submit" class="btn btn-warning" value="Save">
          </div>
        </form>

      </div>
      
    </div>
{{/partial}}

{{> layout.hbs}}
            
