
        <div class="col-3">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-dark list-group-item-action" aria-current="true">
              
              All Departments
            </a>
            <a href="#" class="list-group-item list-group-item-dark list-group-item-action">Software design & development</a>
            <a href="#" class="list-group-item list-group-item-dark  list-group-item-action">Infrastructure managemement</a>
            <a href="#" class="list-group-item list-group-item-dark  list-group-item-action">DBA</a>
            <a href="#" class="list-group-item list-group-item-dark  list-group-item-action">System Admins</a>
            <a href="#" class="list-group-item list-group-item-dark  list-group-item-action">Information Security</a>
          </div>
        </div>
        

        <div class="col-9">
          <div>
            <h4 class="text-center">You have succesfully deleted staff</h4>
            <h6 class="text-center">Click  <a href="">here</a> to view all staff</h6>
          </div>
        </div>
 