{{#partial "content"}}
      <section class="container">
        <article>
          <h5>All Departments</h5>
         {{#if myDepartments}}
          <table class="table table-borderless  mx-auto table-sm text-small">
            <thead class="table-success">
              <tr><th>Name</th><th class="text-center">Actions</th></tr>
            </thead>
            <tbody>
            {{#each myDepartments}}
              <tr>
                <td>{{name}}</td>
                <td class="text-center">
                  <a href="/departments/{{id}}/edit" class="btn btn-sm btn-warning">Edit</a>
                  <a href="/departments/{{id}}/delete" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
         {{else}}
             <div class="alert alert-warning mt-3" role="alert">
                 We do not have any department at the moment. Click  <a href="/departments/new" class="alert-link">here</a> to add new department.
             </div>
         {{/if}}
        </article>
      </section>
{{/partial}}

{{> layout.hbs}}