{{#partial "content"}}
        <div class="container mx-auto p-5 bg-light vh-100 row">
            <form action="/save">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input  type="text" class="form-control" id="name" name="name"/>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" class="form-control" id="role" name="role"/>
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" id="department" name="department"/>
                </div>
                <div class="mb-3">
                    <label for="division" class="form-label">Division</label>
                    <input type="text" class="form-control" id="division" name="division"/>
                </div>
                <div class="mb3 text-center">
                    <input type="submit" class="btn btn-dark" value="Save" name="save">
    
                </div>
            </form>
        </div>
{{/partial}}

{{> layout.hbs}}